[class*='sty-hairline']::after {
  position: absolute;
  box-sizing: border-box;
  content: ' ';
  pointer-events: none;
  top: -50%;
  right: -50%;
  bottom: -50%;
  left: -50%;
  border: 0 solid #ebedf0;
  transform: scale(0.5);
}
.sty-hairline,
.sty-hairline--top,
.sty-hairline--left,
.sty-hairline--right,
.sty-hairline--bottom,
.sty-hairline--surround,
.sty-hairline--top-bottom {
  position: relative;
}
.sty-hairline--top::after {
  border-top-width: 1px;
}
.sty-hairline--left::after {
  border-left-width: 1px;
}
.sty-hairline--right::after {
  border-right-width: 1px;
}
.sty-hairline--bottom::after {
  border-bottom-width: 1px;
}
.sty-ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.sty-button {
  position: relative;
  display: block;
  height: 47px;
  line-height: 47px;
  text-align: center;
  font-size: 16px;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
  white-space: nowrap;
  color: #323233;
  background-color: #fff;
  border-radius: 5px;
  border: 1px solid #ebedf0;
}
.sty-button.sty-button-disabled {
  color: rgba(0, 0, 0, 0.3);
  opacity: 0.6;
}
.sty-button.sty-button-primary {
  color: #fff;
  background-color: #3dbdaf;
  border: none;
}
.sty-button.sty-button-warning {
  color: #fff;
  background-color: #ff976a;
  border: none;
}
.sty-button.sty-button-ghost {
  color: #3dbdaf;
  border-color: #3dbdaf;
}
.sty-button.sty-button-round {
  border-radius: 999px;
}
.sty-button.sty-button-inline {
  display: inline-block;
  padding: 0 15px;
}
.sty-button-icon {
  vertical-align: middle;
  font-size: 1.2em;
}
.sty-button-icon + .sty-button-text {
  margin-left: 0.5em;
}
.sty-button .sty-button-loading {
  display: inline-flex;
  height: 100%;
  color: inherit;
  vertical-align: top;
}
.sty-button .sty-button-loading + .sty-button-text {
  margin-left: 5px;
}
.sty-button .sty-button-ripple {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@font-face {
  font-weight: normal;
  font-family: 'sty-icon';
  font-style: normal;
  font-display: auto;
  src: url(../../static/font/sty-icon.0de80fb.woff2) format('woff2'), url(../../static/font/sty-icon.b3dd9cb.woff) format('woff'), url(../../static/font/sty-icon.c68110a.ttf) format('truetype');
}
.sty-icon {
  position: relative;
  display: inline-block;
  font: normal normal normal 14px/1 'sty-icon';
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}
.sty-icon::before {
  display: inline-block;
}
.sty-icon-add-o::before {
  content: '\F000';
}
.sty-icon-add-square::before {
  content: '\F001';
}
.sty-icon-add::before {
  content: '\F002';
}
.sty-icon-after-sale::before {
  content: '\F003';
}
.sty-icon-aim::before {
  content: '\F004';
}
.sty-icon-alipay::before {
  content: '\F005';
}
.sty-icon-apps-o::before {
  content: '\F006';
}
.sty-icon-arrow-down::before {
  content: '\F007';
}
.sty-icon-arrow-left::before {
  content: '\F008';
}
.sty-icon-arrow-up::before {
  content: '\F009';
}
.sty-icon-arrow-right::before {
  content: '\F00A';
}
.sty-icon-arrow::before {
  content: '\F00A';
}
.sty-icon-ascending::before {
  content: '\F00B';
}
.sty-icon-audio::before {
  content: '\F00C';
}
.sty-icon-award-o::before {
  content: '\F00D';
}
.sty-icon-award::before {
  content: '\F00E';
}
.sty-icon-back-top::before {
  content: '\F0E6';
}
.sty-icon-bag-o::before {
  content: '\F00F';
}
.sty-icon-bag::before {
  content: '\F010';
}
.sty-icon-balance-list-o::before {
  content: '\F011';
}
.sty-icon-balance-list::before {
  content: '\F012';
}
.sty-icon-balance-o::before {
  content: '\F013';
}
.sty-icon-balance-pay::before {
  content: '\F014';
}
.sty-icon-bar-chart-o::before {
  content: '\F015';
}
.sty-icon-bars::before {
  content: '\F016';
}
.sty-icon-bell::before {
  content: '\F017';
}
.sty-icon-bill-o::before {
  content: '\F018';
}
.sty-icon-bill::before {
  content: '\F019';
}
.sty-icon-birthday-cake-o::before {
  content: '\F01A';
}
.sty-icon-bookmark-o::before {
  content: '\F01B';
}
.sty-icon-bookmark::before {
  content: '\F01C';
}
.sty-icon-browsing-history-o::before {
  content: '\F01D';
}
.sty-icon-browsing-history::before {
  content: '\F01E';
}
.sty-icon-brush-o::before {
  content: '\F01F';
}
.sty-icon-bulb-o::before {
  content: '\F020';
}
.sty-icon-bullhorn-o::before {
  content: '\F021';
}
.sty-icon-calendar-o::before {
  content: '\F022';
}
.sty-icon-card::before {
  content: '\F023';
}
.sty-icon-cart-circle-o::before {
  content: '\F024';
}
.sty-icon-cart-circle::before {
  content: '\F025';
}
.sty-icon-cart-o::before {
  content: '\F026';
}
.sty-icon-cart::before {
  content: '\F027';
}
.sty-icon-cash-back-record::before {
  content: '\F028';
}
.sty-icon-cash-on-deliver::before {
  content: '\F029';
}
.sty-icon-cashier-o::before {
  content: '\F02A';
}
.sty-icon-certificate::before {
  content: '\F02B';
}
.sty-icon-chart-trending-o::before {
  content: '\F02C';
}
.sty-icon-chat-o::before {
  content: '\F02D';
}
.sty-icon-chat::before {
  content: '\F02E';
}
.sty-icon-checked::before {
  content: '\F02F';
}
.sty-icon-circle::before {
  content: '\F030';
}
.sty-icon-clear::before {
  content: '\F031';
}
.sty-icon-clock-o::before {
  content: '\F032';
}
.sty-icon-clock::before {
  content: '\F033';
}
.sty-icon-close::before {
  content: '\F034';
}
.sty-icon-closed-eye::before {
  content: '\F035';
}
.sty-icon-cluster-o::before {
  content: '\F036';
}
.sty-icon-cluster::before {
  content: '\F037';
}
.sty-icon-column::before {
  content: '\F038';
}
.sty-icon-comment-circle-o::before {
  content: '\F039';
}
.sty-icon-comment-circle::before {
  content: '\F03A';
}
.sty-icon-comment-o::before {
  content: '\F03B';
}
.sty-icon-comment::before {
  content: '\F03C';
}
.sty-icon-completed::before {
  content: '\F03D';
}
.sty-icon-contact::before {
  content: '\F03E';
}
.sty-icon-coupon-o::before {
  content: '\F03F';
}
.sty-icon-coupon::before {
  content: '\F040';
}
.sty-icon-credit-pay::before {
  content: '\F041';
}
.sty-icon-cross::before {
  content: '\F042';
}
.sty-icon-debit-pay::before {
  content: '\F043';
}
.sty-icon-delete::before {
  content: '\F044';
}
.sty-icon-descending::before {
  content: '\F045';
}
.sty-icon-description::before {
  content: '\F046';
}
.sty-icon-desktop-o::before {
  content: '\F047';
}
.sty-icon-diamond-o::before {
  content: '\F048';
}
.sty-icon-diamond::before {
  content: '\F049';
}
.sty-icon-discount::before {
  content: '\F04A';
}
.sty-icon-down::before {
  content: '\F04B';
}
.sty-icon-ecard-pay::before {
  content: '\F04C';
}
.sty-icon-edit::before {
  content: '\F04D';
}
.sty-icon-ellipsis::before {
  content: '\F04E';
}
.sty-icon-empty::before {
  content: '\F04F';
}
.sty-icon-enlarge::before {
  content: '\F0E4';
}
.sty-icon-envelop-o::before {
  content: '\F050';
}
.sty-icon-exchange::before {
  content: '\F051';
}
.sty-icon-expand-o::before {
  content: '\F052';
}
.sty-icon-expand::before {
  content: '\F053';
}
.sty-icon-eye-o::before {
  content: '\F054';
}
.sty-icon-eye::before {
  content: '\F055';
}
.sty-icon-fail::before {
  content: '\F056';
}
.sty-icon-failure::before {
  content: '\F057';
}
.sty-icon-filter-o::before {
  content: '\F058';
}
.sty-icon-fire-o::before {
  content: '\F059';
}
.sty-icon-fire::before {
  content: '\F05A';
}
.sty-icon-flag-o::before {
  content: '\F05B';
}
.sty-icon-flower-o::before {
  content: '\F05C';
}
.sty-icon-free-postage::before {
  content: '\F05D';
}
.sty-icon-friends-o::before {
  content: '\F05E';
}
.sty-icon-friends::before {
  content: '\F05F';
}
.sty-icon-gem-o::before {
  content: '\F060';
}
.sty-icon-gem::before {
  content: '\F061';
}
.sty-icon-gift-card-o::before {
  content: '\F062';
}
.sty-icon-gift-card::before {
  content: '\F063';
}
.sty-icon-gift-o::before {
  content: '\F064';
}
.sty-icon-gift::before {
  content: '\F065';
}
.sty-icon-gold-coin-o::before {
  content: '\F066';
}
.sty-icon-gold-coin::before {
  content: '\F067';
}
.sty-icon-good-job-o::before {
  content: '\F068';
}
.sty-icon-good-job::before {
  content: '\F069';
}
.sty-icon-goods-collect-o::before {
  content: '\F06A';
}
.sty-icon-goods-collect::before {
  content: '\F06B';
}
.sty-icon-graphic::before {
  content: '\F06C';
}
.sty-icon-home-o::before {
  content: '\F06D';
}
.sty-icon-hot-o::before {
  content: '\F06E';
}
.sty-icon-hot-sale-o::before {
  content: '\F06F';
}
.sty-icon-hot-sale::before {
  content: '\F070';
}
.sty-icon-hot::before {
  content: '\F071';
}
.sty-icon-hotel-o::before {
  content: '\F072';
}
.sty-icon-idcard::before {
  content: '\F073';
}
.sty-icon-info-o::before {
  content: '\F074';
}
.sty-icon-info::before {
  content: '\F075';
}
.sty-icon-invition::before {
  content: '\F076';
}
.sty-icon-label-o::before {
  content: '\F077';
}
.sty-icon-label::before {
  content: '\F078';
}
.sty-icon-like-o::before {
  content: '\F079';
}
.sty-icon-like::before {
  content: '\F07A';
}
.sty-icon-live::before {
  content: '\F07B';
}
.sty-icon-location-o::before {
  content: '\F07C';
}
.sty-icon-location::before {
  content: '\F07D';
}
.sty-icon-lock::before {
  content: '\F07E';
}
.sty-icon-logistics::before {
  content: '\F07F';
}
.sty-icon-manager-o::before {
  content: '\F080';
}
.sty-icon-manager::before {
  content: '\F081';
}
.sty-icon-map-marked::before {
  content: '\F082';
}
.sty-icon-medal-o::before {
  content: '\F083';
}
.sty-icon-medal::before {
  content: '\F084';
}
.sty-icon-minus::before {
  content: '\F0E8';
}
.sty-icon-more-o::before {
  content: '\F085';
}
.sty-icon-more::before {
  content: '\F086';
}
.sty-icon-music-o::before {
  content: '\F087';
}
.sty-icon-music::before {
  content: '\F088';
}
.sty-icon-new-arrival-o::before {
  content: '\F089';
}
.sty-icon-new-arrival::before {
  content: '\F08A';
}
.sty-icon-new-o::before {
  content: '\F08B';
}
.sty-icon-new::before {
  content: '\F08C';
}
.sty-icon-newspaper-o::before {
  content: '\F08D';
}
.sty-icon-notes-o::before {
  content: '\F08E';
}
.sty-icon-orders-o::before {
  content: '\F08F';
}
.sty-icon-other-pay::before {
  content: '\F090';
}
.sty-icon-paid::before {
  content: '\F091';
}
.sty-icon-passed::before {
  content: '\F092';
}
.sty-icon-pause-circle-o::before {
  content: '\F093';
}
.sty-icon-pause-circle::before {
  content: '\F094';
}
.sty-icon-pause::before {
  content: '\F095';
}
.sty-icon-peer-pay::before {
  content: '\F096';
}
.sty-icon-pending-payment::before {
  content: '\F097';
}
.sty-icon-phone-circle-o::before {
  content: '\F098';
}
.sty-icon-phone-circle::before {
  content: '\F099';
}
.sty-icon-phone-o::before {
  content: '\F09A';
}
.sty-icon-phone::before {
  content: '\F09B';
}
.sty-icon-photo-fail::before {
  content: '\F0E5';
}
.sty-icon-photo-o::before {
  content: '\F09C';
}
.sty-icon-photo::before {
  content: '\F09D';
}
.sty-icon-photograph::before {
  content: '\F09E';
}
.sty-icon-play-circle-o::before {
  content: '\F09F';
}
.sty-icon-play-circle::before {
  content: '\F0A0';
}
.sty-icon-play::before {
  content: '\F0A1';
}
.sty-icon-plus::before {
  content: '\F0A2';
}
.sty-icon-point-gift-o::before {
  content: '\F0A3';
}
.sty-icon-point-gift::before {
  content: '\F0A4';
}
.sty-icon-points::before {
  content: '\F0A5';
}
.sty-icon-printer::before {
  content: '\F0A6';
}
.sty-icon-qr-invalid::before {
  content: '\F0A7';
}
.sty-icon-qr::before {
  content: '\F0A8';
}
.sty-icon-question-o::before {
  content: '\F0A9';
}
.sty-icon-question::before {
  content: '\F0AA';
}
.sty-icon-records::before {
  content: '\F0AB';
}
.sty-icon-refund-o::before {
  content: '\F0AC';
}
.sty-icon-replay::before {
  content: '\F0AD';
}
.sty-icon-scan::before {
  content: '\F0AE';
}
.sty-icon-search::before {
  content: '\F0AF';
}
.sty-icon-send-gift-o::before {
  content: '\F0B0';
}
.sty-icon-send-gift::before {
  content: '\F0B1';
}
.sty-icon-service-o::before {
  content: '\F0B2';
}
.sty-icon-service::before {
  content: '\F0B3';
}
.sty-icon-setting-o::before {
  content: '\F0B4';
}
.sty-icon-setting::before {
  content: '\F0B5';
}
.sty-icon-share-o::before {
  content: '\F0E7';
}
.sty-icon-share::before {
  content: '\F0B6';
}
.sty-icon-shop-collect-o::before {
  content: '\F0B7';
}
.sty-icon-shop-collect::before {
  content: '\F0B8';
}
.sty-icon-shop-o::before {
  content: '\F0B9';
}
.sty-icon-shop::before {
  content: '\F0BA';
}
.sty-icon-shopping-cart-o::before {
  content: '\F0BB';
}
.sty-icon-shopping-cart::before {
  content: '\F0BC';
}
.sty-icon-shrink::before {
  content: '\F0BD';
}
.sty-icon-sign::before {
  content: '\F0BE';
}
.sty-icon-smile-comment-o::before {
  content: '\F0BF';
}
.sty-icon-smile-comment::before {
  content: '\F0C0';
}
.sty-icon-smile-o::before {
  content: '\F0C1';
}
.sty-icon-smile::before {
  content: '\F0C2';
}
.sty-icon-star-o::before {
  content: '\F0C3';
}
.sty-icon-star::before {
  content: '\F0C4';
}
.sty-icon-stop-circle-o::before {
  content: '\F0C5';
}
.sty-icon-stop-circle::before {
  content: '\F0C6';
}
.sty-icon-stop::before {
  content: '\F0C7';
}
.sty-icon-success::before {
  content: '\F0C8';
}
.sty-icon-thumb-circle-o::before {
  content: '\F0C9';
}
.sty-icon-thumb-circle::before {
  content: '\F0CA';
}
.sty-icon-todo-list-o::before {
  content: '\F0CB';
}
.sty-icon-todo-list::before {
  content: '\F0CC';
}
.sty-icon-tosend::before {
  content: '\F0CD';
}
.sty-icon-tv-o::before {
  content: '\F0CE';
}
.sty-icon-umbrella-circle::before {
  content: '\F0CF';
}
.sty-icon-underway-o::before {
  content: '\F0D0';
}
.sty-icon-underway::before {
  content: '\F0D1';
}
.sty-icon-upgrade::before {
  content: '\F0D2';
}
.sty-icon-user-circle-o::before {
  content: '\F0D3';
}
.sty-icon-user-o::before {
  content: '\F0D4';
}
.sty-icon-video-o::before {
  content: '\F0D5';
}
.sty-icon-video::before {
  content: '\F0D6';
}
.sty-icon-vip-card-o::before {
  content: '\F0D7';
}
.sty-icon-vip-card::before {
  content: '\F0D8';
}
.sty-icon-volume-o::before {
  content: '\F0D9';
}
.sty-icon-volume::before {
  content: '\F0DA';
}
.sty-icon-wap-home-o::before {
  content: '\F0DB';
}
.sty-icon-wap-home::before {
  content: '\F0DC';
}
.sty-icon-wap-nav::before {
  content: '\F0DD';
}
.sty-icon-warn-o::before {
  content: '\F0DE';
}
.sty-icon-warning-o::before {
  content: '\F0DF';
}
.sty-icon-warning::before {
  content: '\F0E0';
}
.sty-icon-weapp-nav::before {
  content: '\F0E1';
}
.sty-icon-wechat::before {
  content: '\F0E2';
}
.sty-icon-youzan-shield::before {
  content: '\F0E3';
}

[class*='sty-hairline']::after {
  position: absolute;
  box-sizing: border-box;
  content: ' ';
  pointer-events: none;
  top: -50%;
  right: -50%;
  bottom: -50%;
  left: -50%;
  border: 0 solid #ebedf0;
  transform: scale(0.5);
}
.sty-hairline,
.sty-hairline--top,
.sty-hairline--left,
.sty-hairline--right,
.sty-hairline--bottom,
.sty-hairline--surround,
.sty-hairline--top-bottom {
  position: relative;
}
.sty-hairline--top::after {
  border-top-width: 1px;
}
.sty-hairline--left::after {
  border-left-width: 1px;
}
.sty-hairline--right::after {
  border-right-width: 1px;
}
.sty-hairline--bottom::after {
  border-bottom-width: 1px;
}
.sty-ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.sty-navbar-box {
  position: relative;
  height: 47px;
  line-height: 47px;
  text-align: center;
  background-color: #fff;
  color: #1989fa;
}
.sty-navbar-box.fixed {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
}
.sty-navbar-box .navbar-left {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  padding: 0 16px;
  font-size: 16px;
}
.sty-navbar-box .navbar-title {
  max-width: 60%;
  margin: 0 auto;
  color: #323233;
  font-weight: 500;
  font-size: 16px;
}
.sty-navbar-box .navbar-right {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  display: flex;
  align-items: center;
  padding: 0 16px;
  font-size: 16px;
}

.sty-ripple {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.sty-ripple-shadow {
  position: absolute;
  background: rgba(0, 0, 0, 0.08);
  min-height: 1rem;
  min-width: 1rem;
  border-radius: 50%;
  margin: -0.5rem;
  transition: transform 1s ease-in-out 0s, opacity 0.4s linear 0s;
  pointer-events: none;
  top: 0;
  left: 0;
}

[class*='sty-hairline']::after {
  position: absolute;
  box-sizing: border-box;
  content: ' ';
  pointer-events: none;
  top: -50%;
  right: -50%;
  bottom: -50%;
  left: -50%;
  border: 0 solid #ebedf0;
  transform: scale(0.5);
}
.sty-hairline,
.sty-hairline--top,
.sty-hairline--left,
.sty-hairline--right,
.sty-hairline--bottom,
.sty-hairline--surround,
.sty-hairline--top-bottom {
  position: relative;
}
.sty-hairline--top::after {
  border-top-width: 1px;
}
.sty-hairline--left::after {
  border-left-width: 1px;
}
.sty-hairline--right::after {
  border-right-width: 1px;
}
.sty-hairline--bottom::after {
  border-bottom-width: 1px;
}
.sty-ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.sty-loading {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 0;
  color: #c8c9cc;
  line-height: 0;
}
.sty-loading.sty-loading-vertical {
  flex-direction: column;
}
.sty-loading-text {
  display: inline-block;
  margin-left: 8px;
  font-size: 14px;
  vertical-align: middle;
  color: #969799;
}
.sty-loading-vertical .sty-loading-text {
  margin-top: 10px;
}
.sty-loading-spinner {
  display: inline-block;
  position: relative;
  width: 30px;
  vertical-align: middle;
  height: 30px;
  max-width: 100%;
  max-height: 100%;
  animation: sty-rotate 0.8s linear infinite;
}
.sty-loading-spinner i {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.sty-loading-spinner i::before {
  display: block;
  width: 2px;
  height: 25%;
  margin: 0 auto;
  background-color: currentColor;
  border-radius: 40%;
  content: ' ';
}
.sty-loading-type-circular {
  animation-duration: 2s;
}
.sty-loading-type-circular circle {
  animation: sty-circular 1.5s ease-in-out infinite;
  stroke: currentColor;
  stroke-width: 3;
  stroke-linecap: round;
}
.sty-loading-type-spinner {
  animation-timing-function: steps(12);
}
@keyframes sty-rotate {
  form {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes sty-circular {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -40;
  }
  100% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -120;
  }
}
.sty-loading-spinner i:nth-child(1) {
  transform: rotate(30deg);
  opacity: 1;
}
.sty-loading-spinner i:nth-child(2) {
  transform: rotate(60deg);
  opacity: 0.9375;
}
.sty-loading-spinner i:nth-child(3) {
  transform: rotate(90deg);
  opacity: 0.875;
}
.sty-loading-spinner i:nth-child(4) {
  transform: rotate(120deg);
  opacity: 0.8125;
}
.sty-loading-spinner i:nth-child(5) {
  transform: rotate(150deg);
  opacity: 0.75;
}
.sty-loading-spinner i:nth-child(6) {
  transform: rotate(180deg);
  opacity: 0.6875;
}
.sty-loading-spinner i:nth-child(7) {
  transform: rotate(210deg);
  opacity: 0.625;
}
.sty-loading-spinner i:nth-child(8) {
  transform: rotate(240deg);
  opacity: 0.5625;
}
.sty-loading-spinner i:nth-child(9) {
  transform: rotate(270deg);
  opacity: 0.5;
}
.sty-loading-spinner i:nth-child(10) {
  transform: rotate(300deg);
  opacity: 0.4375;
}
.sty-loading-spinner i:nth-child(11) {
  transform: rotate(330deg);
  opacity: 0.375;
}
.sty-loading-spinner i:nth-child(12) {
  transform: rotate(360deg);
  opacity: 0.3125;
}

[class*='sty-hairline']::after {
  position: absolute;
  box-sizing: border-box;
  content: ' ';
  pointer-events: none;
  top: -50%;
  right: -50%;
  bottom: -50%;
  left: -50%;
  border: 0 solid #ebedf0;
  transform: scale(0.5);
}
.sty-hairline,
.sty-hairline--top,
.sty-hairline--left,
.sty-hairline--right,
.sty-hairline--bottom,
.sty-hairline--surround,
.sty-hairline--top-bottom {
  position: relative;
}
.sty-hairline--top::after {
  border-top-width: 1px;
}
.sty-hairline--left::after {
  border-left-width: 1px;
}
.sty-hairline--right::after {
  border-right-width: 1px;
}
.sty-hairline--bottom::after {
  border-bottom-width: 1px;
}
.sty-ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.sty-switch {
  position: relative;
  display: inline-block;
  width: 2em;
  height: 1em;
  border-radius: 1em;
  font-size: 30px;
  background-color: #e5e5e5;
  transition: all 0.3s;
}
.sty-switch::after,
.sty-switch-node {
  position: absolute;
  content: '';
  top: 1.5px;
  left: 1.5px;
  width: calc(2em - 3px);
  height: calc(1em - 3px);
  border-radius: calc(1em - 3px);
  background-color: #fff;
  transition: all 0.2s;
  z-index: 1;
}
.sty-switch-node {
  width: calc(1em - 3px);
  transform: translateX(0);
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.21);
  z-index: 2;
}
.sty-switch.sty-switch-on {
  background-color: #3dbdaf;
}
.sty-switch.sty-switch-on::after {
  transform: scale(0);
}
.sty-switch.sty-switch-on .sty-switch-node {
  transform: translateX(calc(1em - 1px));
}
.sty-switch.sty-switch-on .sty-switch-node .switch-loading {
  color: #3dbdaf;
}
.sty-switch.sty-switch-disabled {
  cursor: not-allowed;
  opacity: 0.5;
}
.sty-switch .switch-loading {
  width: 50%;
  height: 50%;
  top: 25%;
  left: 25%;
}
.sty-switch input[type=checkbox] {
  display: none;
}

[class*='sty-hairline']::after {
  position: absolute;
  box-sizing: border-box;
  content: ' ';
  pointer-events: none;
  top: -50%;
  right: -50%;
  bottom: -50%;
  left: -50%;
  border: 0 solid #ebedf0;
  transform: scale(0.5);
}
.sty-hairline,
.sty-hairline--top,
.sty-hairline--left,
.sty-hairline--right,
.sty-hairline--bottom,
.sty-hairline--surround,
.sty-hairline--top-bottom {
  position: relative;
}
.sty-hairline--top::after {
  border-top-width: 1px;
}
.sty-hairline--left::after {
  border-left-width: 1px;
}
.sty-hairline--right::after {
  border-right-width: 1px;
}
.sty-hairline--bottom::after {
  border-bottom-width: 1px;
}
.sty-ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.sty-timeline {
  padding: 16px;
}
.sty-timeline-item {
  display: flex;
  overflow: hidden;
  word-wrap: break-word;
  word-break: break-all;
}
.sty-timeline-item-time {
  width: 40px;
  flex-shrink: 0;
  text-align: center;
  font-size: 14px;
  color: #969799;
  padding-top: 15px;
  line-height: 1.5em;
}
.sty-timeline-item-line-box {
  position: relative;
  width: 50px;
  flex-shrink: 0;
}
.sty-timeline-item-line-box .sty-timeline-item-icon {
  position: absolute;
  top: 20px;
  left: 50%;
  width: 24px;
  height: 24px;
  transform: translateX(-50%);
  border-radius: 50%;
  text-align: center;
  background-color: #fff;
  color: #80d0c780;
}
.sty-timeline-item-line-box .sty-timeline-item-icon img {
  width: 100%;
  height: 100%;
}
.sty-timeline-item-line-box .sty-timeline-item-line {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  width: 1px;
  height: 100%;
  background-color: #dcdee3;
  transform: translateX(-50%);
}
.sty-timeline-item-line-box .sty-timeline-item-dot {
  position: absolute;
  top: 20px;
  left: 50%;
  width: 8px;
  height: 8px;
  transform: translateX(-50%);
  border-radius: 50%;
  background-color: #80d0c780;
}
.sty-timeline-item-line-box .sty-timeline-item-dot.active {
  opacity: 1;
  background-color: #3dbdaf;
  border: solid 4px #80d0c733;
  background-clip: padding-box;
}
.sty-timeline-item-content {
  position: relative;
  flex: 1;
  padding-top: 15px;
  padding-bottom: 15px;
  color: #666;
  line-height: 1.5em;
}
.sty-timeline-item:not(:last-child) .sty-timeline-item-content::after {
  border-bottom-width: 1px;
}

[class*='sty-hairline']::after {
  position: absolute;
  box-sizing: border-box;
  content: ' ';
  pointer-events: none;
  top: -50%;
  right: -50%;
  bottom: -50%;
  left: -50%;
  border: 0 solid #ebedf0;
  transform: scale(0.5);
}
.sty-hairline,
.sty-hairline--top,
.sty-hairline--left,
.sty-hairline--right,
.sty-hairline--bottom,
.sty-hairline--surround,
.sty-hairline--top-bottom {
  position: relative;
}
.sty-hairline--top::after {
  border-top-width: 1px;
}
.sty-hairline--left::after {
  border-left-width: 1px;
}
.sty-hairline--right::after {
  border-right-width: 1px;
}
.sty-hairline--bottom::after {
  border-bottom-width: 1px;
}
.sty-ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.sty-cell {
  position: relative;
  display: flex;
  padding: 10px 16px;
  line-height: 24px;
  background-color: #fff;
  color: #323233;
  font-size: 14px;
}
.sty-cell-center {
  align-items: center;
}
.sty-cell-clickable:active {
  background-color: #f2f3f5;
}
.sty-cell::after {
  position: absolute;
  box-sizing: border-box;
  content: ' ';
  pointer-events: none;
  right: 0;
  bottom: 0;
  left: 16px;
  border-bottom: 1px solid #ebedf0;
  -webkit-transform: scaleY(0.5);
  transform: scaleY(0.5);
}
.sty-cell-title {
  margin-right: 8px;
}
.sty-cell-title .sty-cell-label {
  margin-top: 3px;
  color: #969799;
  font-size: 12px;
  line-height: 18px;
}
.sty-cell-value {
  flex: 1;
  position: relative;
  overflow: hidden;
  color: #969799;
  text-align: right;
  vertical-align: middle;
  word-wrap: break-word;
}
.sty-cell-value .sty-switch {
  font-size: 24px;
}
.sty-cell .arrow-icon {
  min-width: 1em;
  height: 24px;
  font-size: 16px;
  line-height: 24px;
  color: #969799;
  margin-left: 5px;
}
.sty-cell-ripple {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

[class*='sty-hairline']::after {
  position: absolute;
  box-sizing: border-box;
  content: ' ';
  pointer-events: none;
  top: -50%;
  right: -50%;
  bottom: -50%;
  left: -50%;
  border: 0 solid #ebedf0;
  transform: scale(0.5);
}
.sty-hairline,
.sty-hairline--top,
.sty-hairline--left,
.sty-hairline--right,
.sty-hairline--bottom,
.sty-hairline--surround,
.sty-hairline--top-bottom {
  position: relative;
}
.sty-hairline--top::after {
  border-top-width: 1px;
}
.sty-hairline--left::after {
  border-left-width: 1px;
}
.sty-hairline--right::after {
  border-right-width: 1px;
}
.sty-hairline--bottom::after {
  border-bottom-width: 1px;
}
.sty-ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.sty-checkbox-group.sty-checkbox-group-horizontal {
  display: flex;
  flex-wrap: wrap;
}
.sty-checkbox-group.sty-checkbox-group-horizontal .sty-checkbox {
  margin-right: 12px;
}
.sty-checkbox {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}
.sty-checkbox-cell {
  margin-bottom: 0;
}
.sty-checkbox-icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  font-size: 20px;
  line-height: 1em;
  text-align: center;
  box-sizing: border-box;
}
.sty-checkbox-icon .sty-icon {
  font-size: 0.8em;
  border: 1px solid #d9d9d9;
  color: transparent;
  transition: all 0.2s;
}
.sty-checkbox-icon.sty-checkbox-icon-round .sty-icon {
  border-radius: 50%;
}
.sty-checkbox-icon-checked .sty-icon {
  background-color: #3dbdaf;
  border-color: #3dbdaf;
  color: #fff;
}
.sty-checkbox-disabled .sty-checkbox-icon-checked .sty-icon {
  background-color: #c8c9cc;
  border-color: #c8c9cc;
}
.sty-checkbox-label {
  margin-left: 8px;
  color: #323233;
  line-height: 20px;
}
.sty-checkbox-disabled .sty-checkbox-label {
  color: #c8c9cc;
}
.sty-checkbox-disabled .sty-cell-title {
  color: #c8c9cc;
}
.sty-checkbox input {
  display: none;
}

[class*='sty-hairline']::after {
  position: absolute;
  box-sizing: border-box;
  content: ' ';
  pointer-events: none;
  top: -50%;
  right: -50%;
  bottom: -50%;
  left: -50%;
  border: 0 solid #ebedf0;
  transform: scale(0.5);
}
.sty-hairline,
.sty-hairline--top,
.sty-hairline--left,
.sty-hairline--right,
.sty-hairline--bottom,
.sty-hairline--surround,
.sty-hairline--top-bottom {
  position: relative;
}
.sty-hairline--top::after {
  border-top-width: 1px;
}
.sty-hairline--left::after {
  border-left-width: 1px;
}
.sty-hairline--right::after {
  border-right-width: 1px;
}
.sty-hairline--bottom::after {
  border-bottom-width: 1px;
}
.sty-ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.sty-toast-text {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  min-width: 60px;
  border-radius: 3px;
  color: #fff;
  background-color: rgba(58, 58, 58, 0.9);
  line-height: 1.5;
  padding: 9px 15px;
  max-width: 50%;
  text-align: center;
}
.sty-toast-text.sty-toast-icon {
  border-radius: 5px;
  padding: 15px;
}
.sty-toast-text.sty-toast-icon .sty-toast-text-info {
  margin-top: 6px;
}
.sty-toast-text .sty-loading {
  color: #fff;
}
.fadeIn {
  animation: fadeIn 500ms forwards;
}
.fadeOut {
  animation: fadeOut 500ms;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

[class*='sty-hairline']::after {
  position: absolute;
  box-sizing: border-box;
  content: ' ';
  pointer-events: none;
  top: -50%;
  right: -50%;
  bottom: -50%;
  left: -50%;
  border: 0 solid #ebedf0;
  transform: scale(0.5);
}
.sty-hairline,
.sty-hairline--top,
.sty-hairline--left,
.sty-hairline--right,
.sty-hairline--bottom,
.sty-hairline--surround,
.sty-hairline--top-bottom {
  position: relative;
}
.sty-hairline--top::after {
  border-top-width: 1px;
}
.sty-hairline--left::after {
  border-left-width: 1px;
}
.sty-hairline--right::after {
  border-right-width: 1px;
}
.sty-hairline--bottom::after {
  border-bottom-width: 1px;
}
.sty-ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.sty-popup {
  position: fixed;
  background-color: #fff;
  z-index: 1000;
  will-change: transform;
  max-height: 100%;
  max-width: 100%;
}
.sty-popup .close-icon {
  position: absolute;
  z-index: 1;
  color: #c8c9cc;
  font-size: 22px;
  cursor: pointer;
}
.sty-popup-center {
  padding: 30px;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
}
.sty-popup-center .close-icon {
  top: 16px;
  right: 16px;
}
.sty-popup-center.sty-popup-round {
  border-radius: 20px;
}
.sty-popup-top {
  top: 0;
  left: 0;
  width: 100vw;
}
.sty-popup-top .close-icon {
  bottom: 16px;
  right: 16px;
}
.sty-popup-top.sty-popup-round {
  border-radius: 0 0 20px 20px;
}
.sty-popup-bottom {
  bottom: 0;
  left: 0;
  width: 100vw;
}
.sty-popup-bottom .close-icon {
  top: 16px;
  right: 16px;
}
.sty-popup-bottom.sty-popup-round {
  border-radius: 20px 20px 0 0;
}
.sty-popup-left {
  top: 0;
  left: 0;
  height: 100vh;
}
.sty-popup-left .close-icon {
  top: 16px;
  right: 16px;
}
.sty-popup-left.sty-popup-round {
  border-radius: 0 20px 20px 0;
}
.sty-popup-right {
  top: 0;
  right: 0;
  height: 100vh;
}
.sty-popup-right .close-icon {
  top: 16px;
  left: 16px;
}
.sty-popup-right.sty-popup-round {
  border-radius: 20px 0 0 20px;
}
.slide_topIn {
  animation: slide-top-in 300ms;
}
.slide_topOut {
  animation: slide-top-out 300ms;
}
.slide_bottomIn {
  animation: slide-bottom-in 300ms;
}
.slide_bottomOut {
  animation: slide-bottom-out 300ms;
}
.slide_rightIn {
  animation: slide-right-in 300ms;
}
.slide_rightOut {
  animation: slide-right-out 300ms;
}
.slide_leftIn {
  animation: slide-left-in 300ms;
}
.slide_leftOut {
  animation: slide-left-out 300ms;
}
@keyframes slide-top-in {
  from {
    transform: translate3d(0, -100%, 0);
  }
  to {
    transform: translate3d(0, 0, 0);
  }
}
@keyframes slide-top-out {
  from {
    transform: translate3d(0, 0, 0);
  }
  to {
    transform: translate3d(0, -100%, 0);
  }
}
@keyframes slide-bottom-in {
  from {
    transform: translate3d(0, 100%, 0);
  }
  to {
    transform: translate3d(0, 0, 0);
  }
}
@keyframes slide-bottom-out {
  from {
    transform: translate3d(0, 0, 0);
  }
  to {
    transform: translate3d(0, 100%, 0);
  }
}
@keyframes slide-left-in {
  from {
    transform: translate3d(-100%, 0, 0);
  }
  to {
    transform: translate3d(0, 0, 0);
  }
}
@keyframes slide-left-out {
  from {
    transform: translate3d(0, 0, 0);
  }
  to {
    transform: translate3d(-100%, 0, 0);
  }
}
@keyframes slide-right-in {
  from {
    transform: translate3d(100%, 0, 0);
  }
  to {
    transform: translate3d(0, 0, 0);
  }
}
@keyframes slide-right-out {
  from {
    transform: translate3d(0, 0, 0);
  }
  to {
    transform: translate3d(100%, 0, 0);
  }
}
.slide_topIn,
.slide_bottomIn,
.slide_leftIn,
.slide_rightIn {
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}
.slide_topOut,
.slide_bottomOut,
.slide_leftOut,
.slide_rightOut {
  animation-timing-function: ease-in;
  animation-fill-mode: forwards;
}

[class*='sty-hairline']::after {
  position: absolute;
  box-sizing: border-box;
  content: ' ';
  pointer-events: none;
  top: -50%;
  right: -50%;
  bottom: -50%;
  left: -50%;
  border: 0 solid #ebedf0;
  transform: scale(0.5);
}
.sty-hairline,
.sty-hairline--top,
.sty-hairline--left,
.sty-hairline--right,
.sty-hairline--bottom,
.sty-hairline--surround,
.sty-hairline--top-bottom {
  position: relative;
}
.sty-hairline--top::after {
  border-top-width: 1px;
}
.sty-hairline--left::after {
  border-left-width: 1px;
}
.sty-hairline--right::after {
  border-right-width: 1px;
}
.sty-hairline--bottom::after {
  border-bottom-width: 1px;
}
.sty-ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.sty-actionSheet {
  max-height: 80%;
  overflow-y: auto;
}
.sty-actionSheet .sty-button {
  border: none;
}
.sty-actionSheet-header {
  position: relative;
  font-weight: 500;
  font-size: 16px;
  line-height: 44px;
  text-align: center;
}
.sty-actionSheet-header .icon {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0 16px;
  color: #c8c9cc;
  font-size: 22px;
  line-height: inherit;
}
.sty-actionSheet-description {
  padding: 16px;
  color: #646566;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
}
.sty-actionSheet-cancelText {
  border-top: 8px solid #f7f8fa;
}
.sty-actionSheet-action {
  color: #c8c9cc;
}
.sty-actionSheet-action-name {
  font-size: 16px;
  color: #323233;
}
.sty-actionSheet-action-subname {
  margin-left: 4px;
  color: #646566;
  font-size: 12px;
}

.sty-empty {
  margin: 8px;
  font-size: 14px;
  line-height: 1.5715;
  text-align: center;
}
.sty-empty-image {
  margin-bottom: 8px;
  transform: scale(0.9);
}
.sty-empty-img-default-ellipse {
  fill-opacity: 0.8;
  fill: #f5f5f5;
}
.sty-empty-img-default-path-1 {
  fill: #aeb8c2;
}
.sty-empty-img-default-path-2 {
  fill: url(#linearGradient-1);
}
.sty-empty-img-default-path-3 {
  fill: #f5f5f7;
}
.sty-empty-img-default-path-4,
.sty-empty-img-default-path-5 {
  fill: #dce0e6;
}
.sty-empty-img-default-g {
  fill: #fff;
}

[class*='sty-hairline']::after {
  position: absolute;
  box-sizing: border-box;
  content: ' ';
  pointer-events: none;
  top: -50%;
  right: -50%;
  bottom: -50%;
  left: -50%;
  border: 0 solid #ebedf0;
  transform: scale(0.5);
}
.sty-hairline,
.sty-hairline--top,
.sty-hairline--left,
.sty-hairline--right,
.sty-hairline--bottom,
.sty-hairline--surround,
.sty-hairline--top-bottom {
  position: relative;
}
.sty-hairline--top::after {
  border-top-width: 1px;
}
.sty-hairline--left::after {
  border-left-width: 1px;
}
.sty-hairline--right::after {
  border-right-width: 1px;
}
.sty-hairline--bottom::after {
  border-bottom-width: 1px;
}
.sty-ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.sty-dialog {
  width: 270px;
  padding: 15px 0 0 0;
  border-radius: 7px;
  overflow-y: auto;
  will-change: transform;
}
.sty-dialog-header {
  font-size: 18px;
  line-height: 1;
  color: #000;
  text-align: center;
  padding: 6px 15px 15px;
}
.sty-dialog-body {
  padding: 0 15px 15px;
  color: #646566;
  line-height: 20px;
  word-wrap: break-word;
  word-break: break-all;
  text-align: center;
}
.sty-dialog-footer.sty-dialog-footer-h {
  display: flex;
}
.sty-dialog-footer.sty-dialog-footer-h .sty-dialog-button {
  flex: 1;
}
.sty-dialog-footer.sty-dialog-footer-h .sty-dialog-button::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 1px;
  height: 100%;
  transform: scaleX(0.5);
  background-color: #ddd;
}
.sty-dialog-footer .sty-dialog-button,
.sty-dialog-footer .sty-button {
  border-radius: 0;
  border: none;
}
.sty-dialog-footer .sty-dialog-button::after,
.sty-dialog-footer .sty-button::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 1px;
  transform: scaleY(0.5);
  background-color: #ddd;
}
.sty-zoom-in {
  animation: zoomIn 300ms;
}
.sty-zoom-out {
  animation: zoomOut 300ms;
}
@keyframes zoomIn {
  from {
    opacity: 0;
    transform: translate3d(-50%, -50%, 0) scale(0.2, 0.2);
  }
  to {
    opacity: 1;
    transform: translate3d(-50%, -50%, 0) scale(1, 1);
    transition: opacity 300ms, transform 300ms;
    transition-timing-function: cubic-bezier(0.08, 0.82, 0.17, 1);
  }
}
@keyframes zoomOut {
  from {
    opacity: 1;
    transform: translate3d(-50%, -50%, 0) scale(1, 1);
  }
  to {
    opacity: 0;
    transform: translate3d(-50%, -50%, 0) scale(0, 0);
    transition: opacity 300ms, transform 300ms;
    transition-timing-function: cubic-bezier(0.6, 0.04, 0.98, 0.34);
  }
}

[class*='sty-hairline']::after {
  position: absolute;
  box-sizing: border-box;
  content: ' ';
  pointer-events: none;
  top: -50%;
  right: -50%;
  bottom: -50%;
  left: -50%;
  border: 0 solid #ebedf0;
  transform: scale(0.5);
}
.sty-hairline,
.sty-hairline--top,
.sty-hairline--left,
.sty-hairline--right,
.sty-hairline--bottom,
.sty-hairline--surround,
.sty-hairline--top-bottom {
  position: relative;
}
.sty-hairline--top::after {
  border-top-width: 1px;
}
.sty-hairline--left::after {
  border-left-width: 1px;
}
.sty-hairline--right::after {
  border-right-width: 1px;
}
.sty-hairline--bottom::after {
  border-bottom-width: 1px;
}
.sty-ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.sty-img {
  position: relative;
  display: inline-block;
  width: 100px;
  height: 100px;
  overflow: hidden;
}
.sty-img > img {
  width: 100%;
  height: 100%;
}
.sty-img-placeholder {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: #f7f8fa;
  color: #969799;
}

[class*='sty-hairline']::after {
  position: absolute;
  box-sizing: border-box;
  content: ' ';
  pointer-events: none;
  top: -50%;
  right: -50%;
  bottom: -50%;
  left: -50%;
  border: 0 solid #ebedf0;
  transform: scale(0.5);
}
.sty-hairline,
.sty-hairline--top,
.sty-hairline--left,
.sty-hairline--right,
.sty-hairline--bottom,
.sty-hairline--surround,
.sty-hairline--top-bottom {
  position: relative;
}
.sty-hairline--top::after {
  border-top-width: 1px;
}
.sty-hairline--left::after {
  border-left-width: 1px;
}
.sty-hairline--right::after {
  border-right-width: 1px;
}
.sty-hairline--bottom::after {
  border-bottom-width: 1px;
}
.sty-ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.sty-tabs {
  display: flex;
  overflow: hidden;
  background-color: #fff;
}
.sty-tabs-top {
  flex-direction: column;
}
.sty-tabs-bottom {
  flex-direction: column-reverse;
}
.sty-tabs-left {
  flex-direction: row;
  align-items: stretch;
}
.sty-tabs-right {
  flex-direction: row-reverse;
  align-items: stretch;
}
.sty-tabs-tab-bar-wrapper {
  background-color: #fff;
  position: relative;
  height: 100%;
}
.sty-tabs-left .sty-tabs-tab-bar-wrapper,
.sty-tabs-right .sty-tabs-tab-bar-wrapper {
  width: 25%;
}
.sty-tabs-tab-bar-wrapper::after {
  position: absolute;
  box-sizing: border-box;
  content: ' ';
  pointer-events: none;
  top: -50%;
  right: -50%;
  bottom: -50%;
  left: -50%;
  transform: scale(0.5);
}
.sty-tabs-left .sty-tabs-tab-bar-wrapper::after {
  border-right: 1px solid #ebedf0;
}
.sty-tabs-left .sty-tabs-tab-bar-wrapper::after {
  border-left: 1px solid #ebedf0;
}
.sty-tabs-top .sty-tabs-tab-bar-wrapper::after,
.sty-tabs-bottom .sty-tabs-tab-bar-wrapper::after {
  border-bottom: 1px solid #ebedf0;
}
.sty-tabs-tab-bar {
  display: flex;
  position: relative;
  overflow: auto;
  flex-shrink: 0;
}
.sty-tabs-top .sty-tabs-tab-bar,
.sty-tabs-bottom .sty-tabs-tab-bar {
  flex-direction: row;
  width: 100%;
}
.sty-tabs-top .sty-tabs-tab-bar .sty-tabs-bar-tab,
.sty-tabs-bottom .sty-tabs-tab-bar .sty-tabs-bar-tab {
  min-width: 25%;
  padding: 16px 5px;
}
.sty-tabs-left .sty-tabs-tab-bar,
.sty-tabs-right .sty-tabs-tab-bar {
  flex-direction: column;
  height: 100%;
  width: 100%;
}
.sty-tabs-left .sty-tabs-tab-bar .sty-tabs-bar-tab,
.sty-tabs-right .sty-tabs-tab-bar .sty-tabs-bar-tab {
  width: 100%;
  min-height: 25%;
  padding: 0 8px;
}
.sty-tabs-tab-bar::-webkit-scrollbar {
  display: none;
}
.sty-tabs-tab-bar .sty-tabs-bar-tab {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  box-sizing: border-box;
  color: #646566;
}
.sty-tabs-tab-bar .sty-tabs-bar-tab-title {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.sty-tabs-tab-bar .sty-tabs-bar-tab-active {
  color: #3dbdaf;
}
.sty-tabs-tab-bar .sty-tabs-line {
  position: absolute;
  background-color: #3dbdaf;
}
.sty-tabs-left .sty-tabs-tab-bar .sty-tabs-line {
  right: 0;
  width: 2px;
}
.sty-tabs-right .sty-tabs-tab-bar .sty-tabs-line {
  left: 0;
  width: 2px;
}
.sty-tabs-top .sty-tabs-tab-bar .sty-tabs-line,
.sty-tabs-bottom .sty-tabs-tab-bar .sty-tabs-line {
  bottom: 0;
  height: 2px;
}
.sty-tabs-content {
  display: flex;
  width: 100%;
}
.sty-tabs-content.sty-tabs-content-animated {
  transition: transform 0.3s cubic-bezier(0.35, 0, 0.25, 1), left 0.3s cubic-bezier(0.35, 0, 0.25, 1), top 0.3s cubic-bezier(0.35, 0, 0.25, 1), -webkit-transform 0.3s cubic-bezier(0.35, 0, 0.25, 1);
  will-change: transform;
}
.sty-tabs-right .sty-tabs-content,
.sty-tabs-left .sty-tabs-content {
  display: block;
}
.sty-tabs-content .sty-tabs-tabPane {
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  word-wrap: break-word;
  word-break: break-all;
}

[class*='sty-hairline']::after {
  position: absolute;
  box-sizing: border-box;
  content: ' ';
  pointer-events: none;
  top: -50%;
  right: -50%;
  bottom: -50%;
  left: -50%;
  border: 0 solid #ebedf0;
  transform: scale(0.5);
}
.sty-hairline,
.sty-hairline--top,
.sty-hairline--left,
.sty-hairline--right,
.sty-hairline--bottom,
.sty-hairline--surround,
.sty-hairline--top-bottom {
  position: relative;
}
.sty-hairline--top::after {
  border-top-width: 1px;
}
.sty-hairline--left::after {
  border-left-width: 1px;
}
.sty-hairline--right::after {
  border-right-width: 1px;
}
.sty-hairline--bottom::after {
  border-bottom-width: 1px;
}
.sty-ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.sty-refresh {
  position: relative;
  height: 100%;
  overflow: auto;
}
.sty-refresh-header {
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-font-smoothing: antialiased;
  user-select: none;
  position: absolute;
  left: 0;
  width: 100%;
  height: 50px;
  overflow: hidden;
  color: #969799;
  font-size: 14px;
  text-align: center;
  transform: translateY(-100%);
}

.sty-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  display: none;
}
.sty-overlay.open .sty-overlay-mask {
  opacity: 1;
}
.sty-overlay-mask {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  transition: opacity 300ms;
  z-index: 999;
  will-change: opacity;
  opacity: 0;
}

[class*='sty-hairline']::after {
  position: absolute;
  box-sizing: border-box;
  content: ' ';
  pointer-events: none;
  top: -50%;
  right: -50%;
  bottom: -50%;
  left: -50%;
  border: 0 solid #ebedf0;
  transform: scale(0.5);
}
.sty-hairline,
.sty-hairline--top,
.sty-hairline--left,
.sty-hairline--right,
.sty-hairline--bottom,
.sty-hairline--surround,
.sty-hairline--top-bottom {
  position: relative;
}
.sty-hairline--top::after {
  border-top-width: 1px;
}
.sty-hairline--left::after {
  border-left-width: 1px;
}
.sty-hairline--right::after {
  border-right-width: 1px;
}
.sty-hairline--bottom::after {
  border-bottom-width: 1px;
}
.sty-ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.sty-picker {
  position: relative;
  background-color: #fff;
}
.sty-picker-panel {
  background-color: #fff;
  height: 264px;
}
.sty-picker-panel-loading {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.9);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 4;
}
.sty-picker-panel-loading .sty-loading {
  color: #1989fa;
}
.sty-picker-panel-columns {
  position: relative;
  display: flex;
  height: 100%;
  cursor: grab;
}
.sty-picker-panel-column {
  flex: 1;
  user-select: none;
  font-size: 16px;
  color: #323233;
  overflow: hidden;
}
.sty-picker-panel-column ul {
  width: 100%;
  height: 100%;
  transition-timing-function: cubic-bezier(0.23, 1, 0.68, 1);
  touch-action: none;
}
.sty-picker-panel-column ul li {
  width: 100%;
  height: 44px;
  line-height: 44px;
  text-align: center;
}
.sty-picker-panel-column ul li.disabled {
  opacity: 0.5;
}
.sty-picker-panel-mask {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(180deg, hsla(0, 0%, 100%, 0.9), hsla(0, 0%, 100%, 0.4)), linear-gradient(0deg, hsla(0, 0%, 100%, 0.9), hsla(0, 0%, 100%, 0.4));
  background-repeat: no-repeat;
  background-position: top, bottom;
  pointer-events: none;
  z-index: 2;
}
.sty-picker-panel-frame {
  position: absolute !important;
  top: 50%;
  right: 16px;
  left: 16px;
  height: 44px;
  transform: translateY(-50%);
  z-index: 3;
  pointer-events: none;
}
.sty-picker-panel-frame::after {
  border-color: #ddddddcc !important;
}

[class*='sty-hairline']::after {
  position: absolute;
  box-sizing: border-box;
  content: ' ';
  pointer-events: none;
  top: -50%;
  right: -50%;
  bottom: -50%;
  left: -50%;
  border: 0 solid #ebedf0;
  transform: scale(0.5);
}
.sty-hairline,
.sty-hairline--top,
.sty-hairline--left,
.sty-hairline--right,
.sty-hairline--bottom,
.sty-hairline--surround,
.sty-hairline--top-bottom {
  position: relative;
}
.sty-hairline--top::after {
  border-top-width: 1px;
}
.sty-hairline--left::after {
  border-left-width: 1px;
}
.sty-hairline--right::after {
  border-right-width: 1px;
}
.sty-hairline--bottom::after {
  border-bottom-width: 1px;
}
.sty-ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.sty-swipe-wrapper {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 150px;
}
.sty-swipe-wrapper .sty-swipe {
  display: flex;
  width: 100%;
  height: 100%;
}
.sty-swipe-wrapper .sty-swipe-item {
  flex-shrink: 0;
  width: 100%;
  height: 100%;
}
.sty-swipe-wrapper .sty-swipe-dots-box {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  bottom: 0;
  width: 100%;
  height: 18px;
  text-align: center;
  font-size: 18px;
  color: #000;
}
.sty-swipe-wrapper .sty-swipe-dots-box .sty-swipe-dot {
  display: block;
  width: 8px;
  height: 8px;
  margin: 0 3px;
  border-radius: 50%;
  background: #ccc;
}
.sty-swipe-wrapper .sty-swipe-dots-box .sty-swipe-dot.active {
  background-color: #fff;
}
.sty-swipe-wrapper.sty-swipe-wrapper_vertical .sty-swipe {
  flex-direction: column;
}
.sty-swipe-wrapper.sty-swipe-wrapper_vertical .sty-swipe-dots-box {
  flex-direction: column;
  width: 18px;
  height: 100%;
  left: 2px;
}
.sty-swipe-wrapper.sty-swipe-wrapper_vertical .sty-swipe-dots-box .sty-swipe-dot {
  margin: 3px 0;
}
::-webkit-scrollbar {
  width: 0;
  background: transparent;
}

[class*='sty-hairline']::after {
  position: absolute;
  box-sizing: border-box;
  content: ' ';
  pointer-events: none;
  top: -50%;
  right: -50%;
  bottom: -50%;
  left: -50%;
  border: 0 solid #ebedf0;
  transform: scale(0.5);
}
.sty-hairline,
.sty-hairline--top,
.sty-hairline--left,
.sty-hairline--right,
.sty-hairline--bottom,
.sty-hairline--surround,
.sty-hairline--top-bottom {
  position: relative;
}
.sty-hairline--top::after {
  border-top-width: 1px;
}
.sty-hairline--left::after {
  border-left-width: 1px;
}
.sty-hairline--right::after {
  border-right-width: 1px;
}
.sty-hairline--bottom::after {
  border-bottom-width: 1px;
}
.sty-ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.sty-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 44px;
}
.sty-row-left {
  padding: 0 16px;
  font-size: 14px;
  color: #969799;
}
.sty-row-right {
  padding: 0 16px;
  font-size: 14px;
  color: #1989fa;
}
.sty-row-center {
  max-width: 50%;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #323233;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

[class*='sty-hairline']::after {
  position: absolute;
  box-sizing: border-box;
  content: ' ';
  pointer-events: none;
  top: -50%;
  right: -50%;
  bottom: -50%;
  left: -50%;
  border: 0 solid #ebedf0;
  transform: scale(0.5);
}
.sty-hairline,
.sty-hairline--top,
.sty-hairline--left,
.sty-hairline--right,
.sty-hairline--bottom,
.sty-hairline--surround,
.sty-hairline--top-bottom {
  position: relative;
}
.sty-hairline--top::after {
  border-top-width: 1px;
}
.sty-hairline--left::after {
  border-left-width: 1px;
}
.sty-hairline--right::after {
  border-right-width: 1px;
}
.sty-hairline--bottom::after {
  border-bottom-width: 1px;
}
.sty-ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.sty-date-panel {
  background-color: #fff;
}
.sty-date-panel-header {
  display: flex;
  padding: 0 8px;
  color: rgba(0, 0, 0, 0.85);
  border-bottom: 1px solid #f0f0f0;
}
.sty-date-panel-header button {
  padding: 0;
  color: rgba(0, 0, 0, 0.25);
  line-height: 40px;
  border: 0;
  background: none;
  outline: none;
  cursor: pointer;
  transition: color 0.3s;
  min-width: 1.6em;
  font-size: 28px;
  opacity: 0.8;
}
.sty-date-panel-header-view {
  flex: auto;
  text-align: center;
  font-weight: 500;
  line-height: 40px;
}
.sty-date-panel-body {
  padding: 8px 12px;
}
.sty-date-panel-body th,
.sty-date-panel-body td {
  text-align: center;
  vertical-align: middle;
}
.sty-date-panel-body .sty-date-panel-cell {
  position: relative;
  color: #aaa;
  padding: 3px 0;
}
.sty-date-panel-body .sty-date-panel-cell::before {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  left: 0;
  height: 30px;
  transform: translateY(-50%);
  z-index: 1;
}
.sty-date-panel-body .sty-date-panel-cell .sty-date-panel-cell-inner {
  position: relative;
  display: inline-block;
  min-width: 80%;
  height: 30px;
  line-height: 30px;
  text-align: center;
  border-radius: 2px;
  z-index: 2;
}
.sty-date-panel-body .sty-date-panel-cell-in-view {
  color: #333;
}
.sty-date-panel-body .sty-date-panel-cell-in-range:not(.sty-date-panel-cell-selected)::before {
  background-color: #e6f5f4;
}
.sty-date-panel-body .sty-date-panel-cell-range-start:not(.sty-date-panel-cell-range-start-single)::before {
  background-color: #e6f5f4;
  left: 50%;
}
.sty-date-panel-body .sty-date-panel-cell-range-end::before {
  background-color: #e6f5f4;
  right: 50%;
}
.sty-date-panel-body .sty-date-panel-cell-selected .sty-date-panel-cell-inner {
  background-color: #3dbdaf;
  color: #fff;
}
.sty-date-panel-body .sty-date-panel-cell-today {
  color: #3dbdaf;
}
.sty-date-panel-body .sty-date-panel-cell-disabled {
  opacity: 0.2;
}
.sty-date-panel-body-content {
  height: 246px;
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
}
.sty-date-panel-date-panel th {
  height: 30px;
}
.sty-date-panel-date-panel .sty-date-panel-cell .sty-date-panel-cell-inner {
  min-width: 30px;
  border-radius: 50%;
}
.sty-date-panel-date-panel .sty-date-panel-cell-in-range:last-child::before {
  right: 50%;
}
.sty-date-panel-date-panel .sty-date-panel-cell-in-range:last-child .sty-date-panel-cell-inner {
  background-color: #e6f5f4;
}
.sty-date-panel-date-panel .sty-date-panel-cell-in-range:first-child::before {
  left: 50%;
}
.sty-date-panel-date-panel .sty-date-panel-cell-in-range:first-child .sty-date-panel-cell-inner {
  background-color: #e6f5f4;
}
.sty-date-panel-footer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 40px;
  padding: 0 12px;
  border-top: 1px solid #f0f0f0;
}
.sty-date-panel-footer > .split {
  width: 10px;
  text-align: center;
}
.sty-date-panel-footer > .date {
  font-size: 14px;
  text-align: center;
}
.sty-date-panel-footer.sty-date-panel-date-footer > .date {
  width: 98px;
}
.sty-date-panel-footer.sty-date-panel-month-footer > .date {
  width: 68px;
}
.sty-date-panel-footer.sty-date-panel-year-footer > .date {
  width: 43px;
}

.sty-select {
  height: 280px;
  overflow: auto;
}
.sty-select-loading {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.9);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 4;
  color: #1989fa;
}

.home {
  height: 100%;
  background-color: #fff;
  padding: 50px 20px;
  box-sizing: border-box;
  overflow: auto;
}
.demo-home-nav__title {
  margin: 24px 0 8px 16px;
  color: rgba(69, 90, 100, 0.6);
  font-size: 14px;
}
.demo-home-nav__block {
  position: relative;
  display: flex;
  margin: 0 0 12px;
  padding-left: 20px;
  color: #323233;
  font-weight: 500;
  font-size: 14px;
  line-height: 40px;
  background: #f7f8fa;
  border-radius: 99px;
  transition: background 0.3s;
  text-decoration: none;
}
.demo-home-nav__block:hover {
  background: #eef0f4;
}
.demo-home-nav__block:active {
  background: #e4e8ee;
}
.demo-home-nav__icon {
  position: absolute;
  top: 50%;
  right: 16px;
  width: 16px;
  height: 16px;
  margin-top: -8px;
}
a {
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-user-select: none;
  -moz-user-focus: none;
  -moz-user-select: none;
}

body {
  color: #323233;
  font-family: PingFang SC, "Helvetica Neue", Arial, sans-serif;
  background-color: #f7f8fa;
}

.forward-enter {
  z-index: 2;
  /* opacity: 0; */
  transform: translateX(100%);
}

.forward-enter-active {
  z-index: 2;
  /* opacity: 1; */
  transform: translateX(0);
  transition: all 500ms;
}

.forward-exit {
  z-index: 1;
  /* opacity: 1; */
}

.forward-exit-active {
  z-index: 1;
  /* opacity: .3; */
  transition: all 500ms;
}

.back-enter {
  z-index: 1;
  /* opacity: .3; */
}

.back-enter-active {
  z-index: 1;
  /* opacity: 1; */
  transform: translateX(0);
  transition: all 500ms;
}

.back-exit {
  z-index: 2;
  /* opacity: 1; */
  transform: translateX(0);
}

.back-exit-active {
  z-index: 2;
  /* opacity: 0; */
  transform: translate(100%);
  transition: all 500ms;
}


.page-box{
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #f7f8fa;
}


.demo-block__title {
  margin: 0;
  padding: 32px 16px 16px;
  color: rgba(69, 90, 100, 0.6);
  font-weight: normal;
  font-size: 16px;
  line-height: 16px;
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
